body {
    font-family: 'Arial', sans-serif;
    background: #f4f7f6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-grow: 1;
    /* 允许内容区域填充剩余空间 */
}

.sidebar {
    background-color: #2c3e50;
    flex: 0 0 250px;
    /* 设置侧边栏宽度，不允许伸缩 */
    height: auto;
    /* 调整高度为自动，以适应内容 */
    color: #ecf0f1;
    padding: 10px;
    width: 250px;
    /* Adjust as necessary */
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    /* Centers the logo within the sidebar */
    width: 80%;
    /* Ensures logo scales within the sidebar width */
    height: auto;
}

.new-chat-button {
    background-color: #18bc9c;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    display: block;
    /* Ensures buttons are block-level for full-width */
    width: 100%;
    text-align: center;
    font-size: 16px;
    /* Slightly larger font for readability */
    font-weight: bold;
}

.chat-list {
    list-style: none;
    padding: 0;
}

.chat-list-item {
    background-color: #34495e;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}

.chat-list-item.active {
    background-color: #18bc9c;
}

.chat-container {
    flex-grow: 1;
    width: 100%;
    max-width: 768px;
    margin: auto;
    background: #fff;
    height: 90vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    flex: 1;
}

.message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #e7ecef;
    display: inline-block;
}

.message img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.sender {
    text-align: left;
}

.sender .message {
    background: #d1f4c6;
}

.chat-input {
    border: none;
    padding: 15px;
    width: calc(100% - 30px);
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    flex-grow: 1;
}

.chat-interface {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 20px;
}

.chat-footer {
    border-top: 1px solid #e7ecef;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.message-form {
    display: flex;
    width: 90%;
}

.send-button {
    padding: 10px 20px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    width: 80px;
    height: 40px;
    position: absolute;
    /* Absolute position the send button */
    right: 10px;
    /* Position from the right */
    bottom: 10px;
    /* Position from the bottom */
}

.site-footer {
    background-color: #7b7b7b;
    color: #fffdfd;
    text-align: center;
    /* 文字居中 */
    padding: 10px 0;
    /* 上下填充 */
    margin-top: 10px;
    /* 顶部外边距 */
}

.container-footer {
    margin: 0 auto;
    padding: 0 15px;
    /* 内边距 */
}

.message {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}

.user-message {
    background-color: lightgray;
    align-self: flex-start;
    /* Align to the right */
}

.ai-message {
    background-color: lightblue;
    align-self: flex-start;
    /* Align to the left */
    max-width: 65%;
}

.chat-interface {
    display: flex;
    flex-direction: column;
    /* 使得消息从上到下排列 */
    align-items: flex-start;
    /* 默认左对齐 */
}

.percentage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    /* Adjust the height as needed */
    width: 160px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    font-size: 5em;
    /* Adjust the font size as needed */
    text-align: center;
    position: fixed;
    /* 或者 absolute，取决于需求 */
    top: 10px;
    /* 或者任何合适的值 */
    right: 10px;
    /* 或者任何合适的值 */
    z-index: 1000;
    /* 确保按钮显示在其他元素之上 */
}

.update-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.ai-doctor-image {
    width: 75px;
    /* 设置图片宽度 */
    height: 75px;
    /* 设置图片高度 */
    margin-right: 20px;
    /* 图片和文本之间的间距 */
}

.ai-message {
    background-color: #98FB98;
    /* 消息背景颜色 */
    padding: 10px;
    /* 消息内边距 */
    border-radius: 10px;
    /* 消息边框圆角 */
}

.message-container {
    display: flex;
    align-items: center;
    /* 垂直居中 */
    margin-bottom: 10px;
    /* 消息之间的间距 */
    width: fit-content;
    /* 容器宽度适应内容 */
}

.user-message-container {
    justify-content: flex-end;
    /* 用户消息靠右对齐 */
    display: flex;
    width: 100%;
    /* 占满整个父容器宽度 */
}

.ai-message-container {
    justify-content: flex-start;
    /* AI消息靠左对齐 */
    display: flex;
    width: 100%;
    /* 占满整个父容器宽度 */
}