{% extends "base.html" %}

{% block title %}Diagnosis Input Form{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/diagnosis.css') }}"> <!-- 这里使用Flask的url_for来确保路径正确 -->
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Input Hospital Diagnosis</h1>
    <form action="{{ url_for('diagnosis_result') }}" method="post">
        <label for="patient_gender">Patient gender:</label>
        <input type="text" id="patient_gender" name="patient_gender" style="width:150px;" required>

        <label for="symptoms">Symptoms:</label>
        <textarea id="symptoms" name="symptoms" rows="4" required></textarea>

        <label for="diagnosis">Diagnosis:</label>
        <textarea id="diagnosis" name="diagnosis" required></textarea>

        <input type="submit" value="Submit Diagnosis" class="submit-button">
    </form>
</div>
{% endblock %}
