{% extends "base.html" %}

{% block title %}Chat Interface{% endblock %}

{% block content %}
    <div class="chat-interface">
        {% for message in messages %}
            {% if message.role == 'user' %}
                You:
                <div class="message user-message">{{ message.content }}</div>
            {% else %}
                AI Doctor:
                <div class="message ai-message">{{ message.content }}</div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="chat-footer">
        <form action="{{ url_for('conversation_input') }}" method="post" class="message-form">
            <textarea type="text" name="message" class="chat-input" placeholder="Your text here..."></textarea>
            <button type="submit" class="send-button">Send</button>
        </form>
    </div>
{% endblock %}